BODY {
    margin: 0px;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    font-family: Arial;
    font-size: 10pt;
}

main {
    flex-grow: 1;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    padding: 10px;
    background: rgb(0, 0, 0);
}

.header-item {
    text-align: center;
    padding: 15px;
    font-size: 15pt;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.89);
}

.content {
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: flex-start;
}

.left-content-item,
.center-content-item,
.right-content-item {
    text-align: left;
}

@media screen and (max-width: 800px) {

    .left-content-item,
    .right-content-item {
        display: none;
    }
}

.left-content-item {
    flex: 2
}

.center-content-item {
    flex: 5;
    padding: 0px 10px;
}

.right-content-item {
    flex: 2;
    padding: 10px;
    background-color: rgb(250, 224, 140);
    border: 1px gray solid;
    border-radius: 5px;
}

.weather-forecast {
    display: flex;
    flex-direction: column;
    background-color: rgba(122, 122, 122, 0.171);
    border: 2px gray solid;
    border-radius: 5px;
    margin: 0px 2px;
    padding: 10px;
}

.block {
    text-decoration: none;
    color: black;
}

.input-block {
    display: flex;
    flex-direction: row;
}

.left-input-block-item {
    flex: 2
}

.right-input-block-item {
    flex: 5
}

.icon {
    width: 50px;
    height: 50px;
}

.set-weather-fieldset {
    border-radius: 5px;
}


footer {
    flex-shrink: 0;
    background-color: rgba(0, 0, 255, 0.397);
    color: white;
    height: 50px;
    padding: 10px;
}